# AWS API access
aws_access_key: AKI...
aws_secret_key: 7te...
key_name: openshift
ansible_ssh_private_key_file: ~/.ssh/openshift.pem

# AMI
ami_id: ami-b15897c8
instance_user: root

# Instance size
instance_type: m4.xlarge

# Instance spot price
spot_instance: true
spot_price: 0.30

# Mounted volume size
volume_size: 30

# Region, Network etc
region: eu-west-1
subnet_id: subnet-44..
security_group: openshift_security_group
vpc_id: vpc-0d...
vpc_subnet_id: sg-c50...

# The public DNS zone
public_dns_zone: "example.com"
# Prefix for subdomain for wildcard DNS, i.e. *.apps.example.com
public_subdomain_prefix: "apps"

# OpenShift version and oc binary
openshift_version: v3.7.0
openshift_cli_url: https://github.com/openshift/origin/releases/download/v3.7.0/openshift-origin-client-tools-v3.7.0-7ed6862-linux-64bit.tar.gz

# OpenShift Cluster options
openshift_logging: false
openshift_metrics: false

# Other
namespace: openshift_one
instance_id: openshift_one

# Local pricate key
ansible_ssh_private_key_file: ~/.ssh/openshift.pem